@model IEnumerable<ProyectoNT.Models.Clase>

@{
    ViewData["Title"] = "Index";
}

<h1>Clases</h1>

<p>
    <a asp-action="Create">Agregar clase</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fechaYHora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tema)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.materia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.alumno)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fechaYHora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tema)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.materia.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.alumno.apellido)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idClase">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.idClase">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.idClase">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
